/* first page styles */
.first-page__header {
  position: absolute;
  top: 30px;
  left: 30px;
}

.first-page__logo {
  width: 350px;
  height: 116px;
}

.first-page__caption {
  margin: 0 0 0 28px;
  width: 228px;
  color: #ccc;
  text-align: left;
  font-family: Ubuntu;
  font-size: 2.3rem;
}

.first-page__footer {
  position: absolute;
  bottom: 2.7rem;
  left: 50%;
}

.first-page__footer-image {
  width: 130px;
}

/* end first page styles*/
/* regular page styles */

.regular-page__background {
  position: absolute;
  bottom: 0.2rem;
  right: 0.3rem;
}

.regular-page__logo {
  width: 110px;
}

/* end regular page styles */
/* slide adjustments */

.remark-slide-content li {
  font-size: 2.5rem;
  line-height: 3.7rem;
}

.remark-slide-content h1 {
  font-size: 3.7rem;
}

.remark-slide-number {
  right: 120px;
}

/* end slide adjustments */
